/*Stylesheet for all pages*/
body {
background-color:#698ACE;color:white; font-family: 'Inclusive Sans', sans-serif;}
h1,h2,h3{font-family:'Merienda', cursive;color:#edadbb;}
th {padding:25px;text-align:center}
td{padding:10px;}
table {
background:#edadbb;color:black; border: 5px solid white;border-radius: 10px;font-family: 'Inclusive Sans',sans-serif;font-size:12px;width:350px; margin-left:auto; 
margin-right:auto;}
ul {
font-family: 'Inclusive Sans',sans-serif;font-size:16px;width:400px;
margin-right:auto;border:white}
	a:visited {color:#130D41}
	a:link{color:#c9d7ff}
	a:hover{color:white}
#me {
	display: block;
	width:100px;
	height:100px;
	margin-left: auto;
	margin-right: auto;
	
}

.align-center{
	text-align: center;
}